<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImGui.NET" version="1.67.0" targetFramework="net472" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net472" />
  <package id="NativeLibraryLoader" version="1.0.12" targetFramework="net472" />
  <package id="SharpDX" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net472" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="Veldrid" version="4.5.0" targetFramework="net472" />
  <package id="Veldrid.SDL2" version="4.5.0" targetFramework="net472" />
  <package id="Veldrid.StartupUtilities" version="4.5.0" targetFramework="net472" />
</packages>